@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">@ViewData["Error"]</div>
}

@if (Model != null)
{
    <h2>Apartamento de @Model.UsuarioResponsable</h2>
    <p>Número: @Model.Numero</p>
    <p>Torre: @Model.Torre</p>
    <p>Piso: @Model.Piso</p>
    <p>Estado: @Model.Estado</p>

    <a href="@Url.Action("Logout", "Auth")" class="btn btn-danger">Cerrar sesión</a>
    <a href="@Url.Action("IndexAll")" class="btn btn-success">Listado de apartamentos</a>

}
